@import '../../assets/stylesheets/variables.scss';
@import '../../assets/stylesheets/mixin.scss';
@import '../../assets/stylesheets/component.scss';

.modal_panel {
	padding: 20px;
}

.plan_cards {
	display: flex;
	justify-content: space-around;
}
