$header-border-color: #ddd;
$border-color: #ccc;
$main-color: #eb8012;
$gradiation-main-color: #D5302A;
$complementary-color: #5EA598;
$complementary-gradi-color: #1b5e20;
$font-color: #333;
$background-color: #eee;
$background-color-black: #343744;

$material-button-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
$material-panel-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 1px 25px 50px 0 rgba(0, 0, 0, 0.1);

$gradiation-background: linear-gradient(135deg, $main-color, $gradiation-main-color);
$gradiation-complentary-color-background: linear-gradient(135deg, $complementary-color, $complementary-gradi-color);

$left_container-size: 300px;